/**
 *  Student Name:  Elton Peters
 *  Student ID:    A01367028 
 */

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
